/* body{
        background:url('client-background.jpg') no-repeat center center/cover;
    } */
    html {
        scroll-behavior: smooth;
    }

    .navbarlink:hover {
        cursor: pointer;
        /* background-color:rgb(238, 232, 232); */
        border-radius: 10px;
        transform: scale(1.2);
        transition: all 0.2s;
    }

    .logo {
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }

    .myimage {
        margin-left: 59px;
        height: 110px;
        width: 144px;
    }

    /* #About {
        font-weight: 700;
        font-size: 45px;
        margin-left: 200px;
    } */
